body {
    margin: 0 auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 2rem;
    text-align: center;
}

h1, h2, h3 {
    line-height: 1.2;
}

.logo {
    height: 6em;
}
